<div class="d-flex">
    <div style="height: 89vh;width: 100px;" class="sidebar bg-dark text-light p-3 d-flex flex-column">
        <a style="text-decoration: none;margin-top: 10px;font-weight: bold;color: white;" routerLink="/dashboard">Home</a>
        <a style="text-decoration: none;margin-top: 10px;font-weight: bold;color: white;" routerLink="/users">Users</a>
       

    </div>
    <div class="w-100">
        <div class="dashboard text-black p-3 w-100">
           <h1>Add User</h1> 
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <form #addUserForm="ngForm" (ngSubmit)="addUser()" class="border w-75 p-4 shadow">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">User Id</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="id" [(ngModel)]="user.id" #userid="ngModel" required pattern="[0-9]*">
                </div>
                <!-- invalid userId -->
                <div *ngIf="userid.invalid && userid.touched" class="mb-3 text-danger fw-bolder">
                    Invalid userId
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">User Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" [(ngModel)]="user.name" #username="ngModel" required pattern="[a-zA-Z]*">
                </div>
                <!-- invalid userId -->
                <div *ngIf="username.invalid && username.touched" class="mb-3 text-danger fw-bolder">
                    Invalid user Name
                </div>
                
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" [(ngModel)]="user.email" #useremail="ngModel" email required>
                </div>
                <!-- invalid userEmail -->
                <div *ngIf="useremail.invalid && useremail.touched" class="mb-3 text-danger fw-bolder">
                    Invalid user Email
                </div>
                <div class="mb-3">
                    <label for="disabledSelect" class="form-label">status</label>
                    <select id="floatingInputStatus" class="form-select" name="active" [(ngModel)]="user.active" #active="ngModel" required>
                      <option value="1">Active</option>
                      <option value="0">Inactive</option>
                    </select>
                </div>
                <!-- Inavalid staus -->
                <div *ngIf="active.invalid && active.touched" class="mb-3 text-danger fw-bolder">
                    Invalid user Status
                </div>
                <div><button  [disabled]="addUserForm.invalid" type="submit" class="btn btn-success m-2">Save</button>
                    <button type="submit" (click)="cancel()" class="btn btn-primary m-2">Cancel</button></div>
            </form>
        </div>
        
    </div>