<div class="d-flex">
    <div style="height: 89vh;width: 100px;" class="sidebar bg-dark text-light p-3 d-flex flex-column">
        <a style="text-decoration: none;margin-top: 10px;font-weight: bold;color: white;" routerLink="/dashboard">Home</a>
        <a style="text-decoration: none;margin-top: 10px;font-weight: bold;color: white;" routerLink="/users">Users</a>
       

    </div>
    <div class="w-100">
        <div class="dashboard text-black p-3 w-100">
            <div class="d-flex justify-content-between"><h1>Welcome User</h1> 
            <button class="btn btn-primary" routerLink="add">Add</button>
            </div>
            <div class="w-75 d-flex justify-content-between">
             <div> <input type="text" [(ngModel)]="searchKey" class="form-control" placeholder="Search details"></div>
            <div>
               <button class="btn btn-secondary" mat-button [matMenuTriggerFor]="menu">Sort</button>
               <mat-menu #menu="matMenu">
                 <button (click)="sortById()" mat-menu-item>By User Id</button>
                 <button (click)="sortBYname()" mat-menu-item>By User Name</button>
               </mat-menu>
            </div>
            <div>
              <button (click)="generatePDF()" class="btn btn-success">Export</button>
            </div>
            </div>
            <div>
                <table class="table border shadow mt-4">
                    <thead>
                      <tr>
                        <th scope="col">User Id</th>
                        <th scope="col">User</th>
                        <th scope="col">Email</th>
                        <th scope="col">User Status</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of allUsers | search : searchKey | paginate: {itemsPerPage:5,currentPage:page} " [hidden]="user.id=='1'">
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td><span [ngClass]="user.active=='1'?'btn btn-success':'btn btn-warning'">{{user.active=="1"?"Active":"InActive"}}</span></td>
                        <td>
                            <a routerLink="edit/{{user.id}}"><i class="fa-solid fa-pen text-success me-2 btn"></i></a>
                            <i class="fa-solid fa-trash text-danger btn" (click)="removeUser(user.id)"></i>
                        </td>
                      </tr>
                      <tr *ngIf="(allUsers|search:searchKey).length===0">
                        <p class="fw-bolder text-danger">User dose not exist!!!</p>
                        </tr>
                    </tbody>
                  </table>
                  <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>